{% extends "accountingapp/base.html" %}
{% block title %}Clients{% endblock %}
{% block head %}List of clients{% endblock %}
{% block content %}
    <p><a href="/addclient">Add Client</a></p>
    {% if clientlist %}
    {% for client in clientlist %}
    <p>
    {{client.clientName}}
    <form method="post" action=".">
    <input type="hidden" name="clientid" value="{{client.id}}" />
	<input type="submit" name="action" value="delete"/>
	{% csrf_token %}
	</form>
	{% csrf_token %}
	</form>
    <a href="/clients/{{client.id}}/projects">{{client.clientEmail}}
    {{client.clientCompany}}</p>
    {% endfor %}
    {% endif %}
{% endblock %}