{% extends "accountingapp/base.html" %}
{% block title %}Clients{% endblock %}
{% block head %}<div class="text-center"><h1>Clients</h1></div>{% endblock %}
{% block content %}

    
    <!--Content-->
    <div class="container">
    <p><a href="/addclient" class="btn btn-primary">Add Client</a></p>
    <p><a href="/reports" class="btn btn-primary">Reports</a></p>
    <div class="row text-center">
        {% if clientlist %}
        {% for client in clientlist %}

            <a href="/clients/{{client.id}}/projects">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{client.clientName}}</h3>
                        <div class="row">
                        <div class="col-md-3">
                        <p><strong>Email:</strong></p>
                        </div>
                        <div class="col-md-9">{{client.clientEmail}}</div>
                        </div>
                        <div class="row">
                        <div class="col-md-3">
                        <p><strong>Company Info:</strong></p>
                        </div>
                        <div class="col-md-9">{{client.clientCompanyInfo|truncatechars:35}}</div>
                        </div>
                        <p>
                            <form method="post" action=".">
                                <input type="hidden" name="clientid" value="{{client.id}}" />
                                <input type="submit" class="btn btn-primary" name="action" value="delete"/>
                                {% csrf_token %}
                            </form>
                            <!-- <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a> -->
                        </p>
                    </div>
                </div>
            </div>
            </a>
        {% endfor %}
        {% endif %}
    </div>
    </div>

            
    
{% endblock %}