{% extends "accountingapp/base.html" %}
{% block title %}Home{% endblock %}
{% block head %}<div class="text-center"><h1>Accounter</h1></div>{% endblock %}
{% block content %}
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
        	<div class="text-center">
            <h2>An effective accounting tool for freelancers!</h2>
            </div>
            
            
            <div class="text-center">
            {% if user.is_authenticated %}
            <a class="btn btn-primary btn-large" href="/clients">Clients</a>
            {% else %}
            <a class="btn btn-primary btn-large" href='/login/'>Login</a>
            <a class="btn btn-primary btn-large" href='/register'>Register</a>
            {% endif %}
            </div>
            
        </header>

        
        <hr>
    </div>
{% endblock %}