{% extends "accountingapp/base.html" %}
{% block title %}Projects{% endblock %}
{% block head %}List of Project{% endblock %}
{% block content %}
    <p><a href="/addproject/{{client_id}}">Add Project</a>
    <a href="/projectreports/{{client_id}}">Add Project</a>
    </p>
    {% if projectlist %}
    {% for project in projectlist %}
    <p>
    {{project.projectName}}
    <a href="/project/timelist/{{project.id}}">{{project.projectStartDate}}
    {{project.projectCostPerHr}}
    <form method="post" action=".">
    <input type="hidden" name="projectid" value="{{project.id}}" />
	<input type="hidden" name="clientid" value="{{client_id}}" />
	<input type="submit" name="action" value="delete"/>

	{% csrf_token %}
	</form>
    </p>
    {% endfor %}
    {% endif %}
{% endblock %}