{% extends "accountingapp/base.html" %}
{% load custom_tags %}
{% block title %}Summary Reports{% endblock %}
{% block head %}<div class="text-center"><h1>Summary Reports</h1></div>{% endblock %}
{% block content %}
    
    <div class="container">
    <div class="text-center"><h3>Project (Total cost & work Hours)</h3></div>
    <table id="project" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Project</th>
                <th>Total Hrs Spent</th>
                <th>Total Cost(Rs)</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Project</th>
                <th>Total Hrs Spent</th>
                <th>Total Cost</th>
            </tr>
        </tfoot>
        <tbody>
            {% if projects %}
            {% for proj in projects %}
            <tr>
                <td>{{proj.projectName}}</td>
                <td>{{proj.id|project_total_hours}}</td>
                <td>{{proj.id|project_total_cost}}</td>
                
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <div class="text-center"><h3>Client (Total cost & Hours Spent)</h3></div>
    <table id="client" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Client</th>
                <th>Total Hrs Spent</th>
                <th>Total Cost(Rs)</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Client</th>
                <th>Total Hrs Spent</th>
                <th>Total Cost</th>
            </tr>
        </tfoot>
        <tbody>
            {% if clients %}
            {% for client in clients %}
            <tr>
                <td>{{client.clientName}}</td>
                <td>{{client.id|client_total_hours}}</td>
                <td>{{client.id|client_total_cost}}</td>
                
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>

    
{% endblock %}